html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

button {
    color: white;
}

button {
    cursor: pointer;
}

.button {
    color: white;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #88C443;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}