html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
}

button {
    color: white;
}

button {
    cursor: pointer;
}

.button {
    color: white;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #88C443;
    color: white;
}