:root {
    --background-color:rgb(150, 189, 71);
    --white:#F9F9F9;
    --light:#ECF2E3;
    --middle: #A8C98D;
    --dark:#4A6D4A;
    --light-text:#666666;
    --shadow:rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

