:root {
    --title-font:new-spirit, serif;
    --text-font:gill-sans-nova, sans serif;
}
h1,h2 {
    font-family: var(--title-font);
}

h3 {
    font: bold 25px/30px var(--text-font) ;
}

a, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

ul li{
    position: relative;
}



p, li, label {
    font-family: var(--text-font);
}

p {
    font-size: 21px;
}