<header>
    <nav>
        <ul class="nav__list">
            <li>
                <a href="/"><img class="logo" src="logo.png" alt="Pet Family logo"></a> 
            </li>
            <div class="nav__profile">
                <img src="profile-img.png" alt="">
            </div> 
        </ul>   
    </nav>   
</header>

