<header>
    <nav class="loggedin__nav">
        <ul class="nav__list">
            <li>
                <a href="/"><img class="nav__logo" src="img/logo-green.png" alt="Pet Family logo"></a> 
            </li>
            <li class="menu">
                <label for="dropdown"><img class="menu__profile" src="profile-img.png" alt=""></label>
                <input type="checkbox" id="dropdown" hidden>
                <ul class="menu__dropdown">
                    <li>Profile</li>
                    <li><form action="/logout" method="post"><button>Logout</button></form></li>
                </ul>
            </li>
        </ul>   
    </nav>   
</header>

