<header>
    <nav>
        <ul class="nav__list">
            <li><a href="/"><h1 class="logo">Logo</h1></a></li>
            <div class="nav__links">
                <li><a href="/login">Log in</a></li>
                <li ><a href="" class="nav__button">Sign up</a></li>
            </div>
        </ul>   
    </nav>   
</header>