.dashboard {
    padding: 50px 20px;
    display: grid;
    justify-content: space-around;
    gap: 20px;
    background-color: var(--light);

    .welcome {
        font: bold 35px var(--title-font);
        color: var(--dark);
        
    }

    section {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    &__item { 
        border-radius: 30px;
        min-width: 500px;
        background-color: #F9F9F9; 
    }

    &__text {
        padding: 45px 50px 55px 50px;
        h2 {
            padding-bottom: 15px;
        }
    }

    &__button {
        width: 170px;
        margin: auto;
        text-align: center;
        background-color: var(--middle);
        border-radius: 50px;
        padding: 10px 30px;
        font-family: var(--text-font);
        font-weight: 600;
        border-radius: 30px;
        
    }
}

.petcard {
    transition: all 0.3s ease-in-out;
    padding: 20px 10px;
    display: grid;
    align-items: center;
    grid-template-columns: 70px 1fr;
    gap: 20px;
    &__img{
        margin: auto;
        width: 55px;
        height: 55px;
        background-color: var(--light);
        border-radius: 50px;
        overflow: hidden;
        object-fit: cover;
        
        img {
            padding: 10px;
            width: 100%;
        }
    }

    &__name {
        font: bold 22px var(--text-font); 
    }
    &__extra {
        line-height: 1.2;
    }
    i{ 
        color: var(--middle);
    }
}

.petcard:hover {
    background-color: var(--light);
    border-radius: 20px;
    box-shadow: none;

    
}

.petcard_container {
    margin-bottom: 40px;
}

.confirmationBox {
    padding: 5px 20px;
    background-color: rgba(61, 201, 211, 0.37);
    text-align: center;
    border: 1px solid rgb(13, 76, 250);
    border-radius: 5px;
    margin: 10px 0px;
    p {
        margin-bottom: 0px;
    }
}
