.nav__profile {
     cursor: pointer;
     width: 30px;
     height: 30px;
     background-color: gray;
     border-radius: 100%;
     overflow: hidden;
     object-fit: cover;
     img{
          width: 100%;   
     }
}

