.loggedin__nav {
     background-color: var(--light);
}
.menu {
     &__profile {
          cursor: pointer;
          width: 35px;
          height: 35px;
          background-color: gray;
          border-radius: 100%;
          overflow: hidden;
          object-fit: cover;
          img{
               width: 100%;
          } 
     }

     ul li &__dropdown{
          background-color: var(--middle);
          display:none;
          width: 100px;
          position: absolute;
          top: 45px;
          left:0;
          li { 
               width:100%;
               display:block;
               padding:10px 0px; 
          }
     }

     #dropdown:checked ~ &__dropdown {  
     display:block;
     }

}