.nav{
    width: 100%;
   
    &__logo {
        max-width: 170px;
        height: auto;
        padding: 35px 0;
    }

    &__list {
        font-size: large;
        font-weight: 600;
        width: 85%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & li { 
            padding: 0 10px;
        }
    }    
    &__links {
        display: flex; 
    }

    li &__login {
        color: var(--light-text);
    }

    li &__button {
        color: white;
        background-color: var(--middle);
        padding: 10px 35px ;
        border-radius: 50px;
    }
    
}