.pet__container {
    background-color: var(--light);
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 90vh;
}

.pet {
    width: 90%;
  
    nav {
        margin: 0 auto 40px auto;
        width: 95%;
        
        
        ul{
            display: flex;
            a {
                margin: 0 5px;
                padding: 3px 10px;
                font-size: large;   
            }
        }
        .active {
            color: var(--dark);
            border-bottom: 2px solid;
            
        }  
    }
    &__main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 20px; 
        margin-bottom: 20px;
        

    }

    .top{
        display: flex;
        justify-content: space-between;
    }

    section {
        padding: 40px;
        background-color: #F9F9F9;
        border-radius: 30px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

}

.info {
    width: 100%;
    i{
        color: var(--middle);
        position: relative;
        bottom: 5px;
        font-weight: bold;
    }

    &__img{
        grid-area: img;
        width: 100px;
        height: 100px;
        background-color: var(--light);
        box-shadow: var(--shadow);
        border-radius: 50px;
        overflow: hidden;
        object-fit: cover;
        img {
            padding: 10px;
            width: 100%;
        }
    }

    &__text{
        img{ 
            width: 20px;
        }
    }
}

.document {
    width: 100%;
    &__items { 
        padding: 20px 0 0 0;
    }

    &__single {
        display: grid;
        grid-template-columns: 10% 50% 30% 10%;
        align-items: center;
        padding: 0 0 5px 0;
        span {
            font-family: var(--text-font);
            color: var(--middle);
        }
        i{
            font-size: 20px;
            color: var(--dark);
        }
       
    }
    
    &__header {
        div {
           
            display: flex;
            align-items: center; 
            a {
                padding: 0 5px;
            }
            
            img{
                width: 35px;
            }
            .document__header__button {
                font-family: var(--text-font);
                color: var(--dark);
                text-transform: uppercase;
                font-weight: 600;
                border: 3px solid var(--dark);
                border-radius: 20px;
                padding: 4px 12px;
            }
        }
    }
        
}

.weight{ 
   width: 100%;
   max-width: 1500px;
}


.more{
    font-weight: 600;
    font-family: var(--text-font);
    cursor: pointer;
    position: relative;
    width: 150px;
    &__button {
        text-align: end;
    }
    &__img {
        width: 6px;
        overflow: hidden;
        object-fit: cover;
        img{
            width: 100%;
        }
    }
    &__content::before{
        content: "";
        position: absolute;
        top: -19px;
        left: 50%;
        transform: translateX(-50%);
        border-top: 10px solid transparent;
        border-bottom: 10px solid var(--white);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }
    &__content {
        line-height: 2;
        left: 47px;
        transition: all 0.3s linear;
        box-shadow: var(--shadow);
        border-radius: 20px;
        padding: 10px 0 15px 0;
        margin: 10px auto;
        width: 100%;
        text-align: center;
        opacity: 0;
        position: absolute;
        background-color: var(--white);
        z-index: 1;
        a{
            color: black;
        }
        button{
            all: unset;
        }
    }
    .line {
        margin: auto;
        position: relative;
        width: 80px;
        
    }
}

.addweight{
    
    font-weight: 600;
    font-family: var(--text-font);
    cursor: pointer;
    position: relative;
    width: 250px;
    
    &__button {
        text-align: end;


    }
    &__img {
        width: 35px;
        margin: 10px;
        overflow: hidden;
        object-fit: cover;
        img{
            width: 100%;
        }
    }
    &__content::before{
        content: "";
        position: absolute;
        top: -19px;
        left: 70%;
        transform: translateX(-50%);
        border-top: 10px solid transparent;
        border-bottom: 10px solid var(--white);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }
    &__content {
        line-height: 2;
        left: 47px;
        transition: all 0.3s linear;
        box-shadow: var(--shadow);
        border-radius: 20px;
        padding: 10px 0 15px 0;
        margin: 10px auto;
        width: 100%;
        text-align: center;
        opacity: 0;
        position: absolute;
        background-color: var(--white);
        z-index: 1;
        a{
            color: black;
        }
     
    }

    input{
        padding: 10px 20px;
        border-radius: 20px;
        border: none;
        background-color: var(--light);
        width: 135px;
    }

    
}


.line::before {
    content: " ";
    position: absolute;
    left: calc(50% - 40px);
    width: 80px;
    height: 3px;
    bottom: 0px;
    border-radius: 20px;
    transition: transform 0.5s linear;
    transform-origin: center;
    transform: scaleX(0);  
    background-color: var(--middle);
}

.line:hover::before {
    
    transform: scaleX(1);  
    transform-origin: center;
}
.show {
    opacity: 1;
}

.appointment {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 32px 32px;
    &__item{
        color: var(--dark);
        font-weight: 600;   
    }
    img{
        position: relative;
        top: 2px;
        height: 20px;
        padding: 0 5px;
    }
   
}
