<%- include('partials/boilerplate.ejs') %>
<%- include('partials/loggedinnav.ejs') %>

<main>
    <form action="/dashboard/addpet" method="post">
        <% if (err.length != 0) { %>
            <div class="error"><%= err  %></div>
        <% } %>  
        <div>
            <div>
                <div>
                    <label for="name">Name:*</label> 
                    <input type="text" placeholder="Pet name" name="name" id="name" required> 
                </div>
                <div>
                    <p></p>
                    <input type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label>
                    
                    <input type="radio" id="female" name="gender" value="female">
                    <label for="female">Female</label>
                </div>
                <div>
                    <label for="birthday">Birthday:</label> 
                    <input type="date" id="birthday" name="birthday" value="" min="" max="">
                </div>
                <div>
                    <label for="neutered">Sprayed or Neutered?</label>
                    <input type="radio" id="notNeutered" name="neutered" value="no">
                    <label for="notNeutered">No</label>
                    
                    <input type="radio" id="neutered" name="neutered" value="yes">
                    <label for="neutered">Yes</label>
                </div>
                <div>
                    <label for="microship">Microchip number</label> 
                    <input type="number" id="microship" name="microshipNr" value="" min="" max="">
                </div>
                <div>
                    <div>
                        <label for="breed">Breed</label> 
                        <input type="text" placeholder="ex. Shiba Inu" name="breed" id="breed"> 
                    </div>
                    <div>
                        <label for="pet-select">Type of animal*</label>
                        <select id="pet-select" name="typeOfAnimal">
                            <option value="">Select</option>
                            <option value="dog">Dog</option>
                            <option value="cat">Cat</option>
                            <option value="rabbit">Rabbit</option>
                            <option value="hamster">Hamster</option>
                            <option value="reptile">Reptile</option>
                            <option value="bird">Bird</option>
                            <option value="fish">Fish</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div>
                        <label for="status">Status*</label>
                        <select id="status" name="status">
                            <option value="normal">Normal</option>
                            <option value="passed-away">Passed away</option>
                            <option value="missing">Missing</option>
                            <option value="sold">Sold</option>
                            <option value="unknown">Unknown</option>
                            
                        </select>
                    </div>


                </div>

            </div>
            <div class="login__button ">
                <button class="button">Save</button>   
            </div>

        </div>
        
    </form>
</main>
<%- include('partials/footer.ejs') %>