<%- include('partials/header.ejs') %>
<%- include('partials/loggedinnav.ejs') %>

<main class="plus">
    <div class="plus__container">
        <h2>Make an appointment</h2>
        <form action="">
            <div class="plus__item">
                <label for="">Doctors name:</label> <br>
                <input type="text" placeholder="Doctors name">
            </div>
            <div class="plus__item">
                <label for="appointment">Choose a date and time:</label> <br>
                <input type="datetime-local" id="appointment" name="appointment" value="" min="" max="">
            </div>

            <div class="plus__item">
                <label for="pet-appointment">Notes</label> <br>
                <input type="text">
            </div>

            <div class="login__button">
                <button class="button">Save</button>   
            </div>

        </form>
    </div>
</main>


<%- include('partials/footer.ejs') %>