<%- include('partials/boilerplate.ejs') %>
<%- include('partials/loggedinnav.ejs') %>

<main class="dashboard">
    <section class="dashboard__item">
        <div class="dashboard__text">
            <h2>Messages</h2>
        </div> 
    </section>

    <section class="dashboard__item">
        <div class="dashboard__text">
            <h2>Pets</h2>
            <p>You haven't added any pets yet</p>
            <div class="dashboard__button">
                <a  href="/addpet">Add pet</a>
            </div>
            
        </div>
    </section>
</main>
<%- include('partials/footer.ejs') %>