<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>
<div class="container">

    <section class="into">
        
        <img src="landing.png" alt="">
        <div class="into__text">
            <h2>Managing your pets health made easy!</h2>
            <p>When it comes to managing your pet’s health, it’s important to stay informed and organized.
                We make it easy to keep track of your pet’s health by putting all of their necessary information in one place.
                </p>
        </div>
    </section>

    <!-- <section class="steps">
        <h2>How it works</h2>
        <div class="steps__container">
            <div>
                <img src="../img/Artboard 2.png" alt=""> 
                <h3>Add your pets profile</h3>
                
            </div>
            <div>
                <img src="../img/Artboard 2.png" alt=""> 
                <h3>View all you pets
                    in one place</h3>
               
            </div> 
            <div>
                <img src="../img/Artboard 2.png" alt=""> 
                <h3>Update and manage
                    your pets health</h3>
            </div>
        </div>
    </section>

    <section class="call-to-action">
        <div>
            <img src="img/calltoaction.png" alt="">

        </div>
    </section> -->
</div>
<%- include('partials/footer.ejs') %>