<%- include('partials/boilerplate.ejs') %>
<%- include('partials/nav.ejs') %>

<section class="into-space">
        <img src="../img/placeholder-landing.jpg" alt="">
        <div>
            <h2>Splashy title here</h2>
            <p>We’re really cool and we love animals.
            This is also a great intro text that has 
            totally conviced you to try out our
            amazing platform!</p>
        </div>
</section>

<section>
    <h2>How it works</h2>
    <div>
        <img src="../img/Artboard 2.png" alt=""> 
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores quam, fugit molestiae reiciendis voluptatum, repellendus asperiores neque aliquid nam voluptas quod quisquam ex amet, nulla molestias. Officiis debitis possimus consequatur rerum voluptates minima quia doloremque, magni veniam mollitia omnis, facilis, inventore praesentium aliquam maxime. Tenetur dolorem quis a distinctio debitis!</p>
    </div>
    <div>
        <img src="../img/Artboard 2.png" alt=""> 
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores quam, fugit molestiae reiciendis voluptatum, repellendus asperiores neque aliquid nam voluptas quod quisquam ex amet, nulla molestias. Officiis debitis possimus consequatur rerum voluptates minima quia doloremque, magni veniam mollitia omnis, facilis, inventore praesentium aliquam maxime. Tenetur dolorem quis a distinctio debitis!</p>
    </div>
    <div>
        <img src="../img/Artboard 2.png" alt=""> 
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores quam, fugit molestiae reiciendis voluptatum, repellendus asperiores neque aliquid nam voluptas quod quisquam ex amet, nulla molestias. Officiis debitis possimus consequatur rerum voluptates minima quia doloremque, magni veniam mollitia omnis, facilis, inventore praesentium aliquam maxime. Tenetur dolorem quis a distinctio debitis!</p>
    </div>
</section>

<section>
    <div>
        <img src="../img/placeholder-landing.jpg" alt="">

    </div>
    <div>
        <h2>Try it out!</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam fugiat consequuntur alias mollitia officiis ut praesentium! Animi eveniet, quo tempora ex aut illo, nobis perspiciatis consectetur maiores odio deserunt autem nemo sapiente laudantium veritatis nisi soluta, consequuntur et adipisci sequi totam. Facilis sint eum dolorum vero voluptatum fugit optio architecto.</p>
        <a href="">Button</a>
    </div>
</section>
  

