<%- include('partials/header.ejs') %>
<div class="login">
    <div>
        <a href="/"><img class="login__logo" src="img/logo-green.png" alt="Pet Family logo"></a> 
    </div>


    <main>
        <div class="login__container">
           <div class="login__box">
               <div class="login__text">
                    <h2>Welcome back!</h2>
                    <p>Don't have an account yet? <a href="/signup">Sign up!</a></p>
               </div>
               <% if (err.length != 0) { %>
                <div class="error"><%= err  %></div>
                <% } %>  
                <form action="/login" method="post">
                    <div class="login__form">
                        <div class="login__item">
                            <label for="email">Email address</label> 
                            <input type="text" placeholder="Enter email address" name="email" id="email" required> 
                        </div>
                        <div class="login__item ">
                            <label class="forgot-password" for="password">Password<a href="">Forgot password?</a></label>
                            <input class="" type="password" placeholder="Enter Password" name="password" id="password" required> 
                        </div>
                        <div class="login__button">
                            <button class="button">Login</button>   
                        </div>
                            
                        
                    </div>
                </form>
            </div> 
        </div>
    </main>
</div>