<%- include('partials/boilerplate.ejs') %>
<%- include('partials/loggedinnav.ejs') %>
<nav>
    <ul><a href=""></a></ul>
</nav>
<main>
        

    <section class="pet">
        <div class="pet__img">
            <img src="" alt="">
        </div>

        <div class="pet__text">
            <h3>Pet name</h3> <span>gender</span>
            <p>Age</p>
            <p>Microchip no.</p>
        </div>
    </section>

    <section class="pet document">
        <div class="document__header">
            <h3>Documents</h3>
            <i>plus icon</i>
            <a href="">Show all</a>
        </div>
        <div class="document__items">
            <p>  <i>icon</i> <a href="">The item</a></p>
        </div>
    </section>

    <section class="pet appoinment">


    </section>

    <section class="pet weight">
        <div class="weight__header">
            <h3>weight</h3>
            <span>plus icon</span>
        </div>
    </section>

    <section class="pet advice">
        <div>
            <h3>Advice</h3>
        </div>
    </section>
</main>


