<%- include('partials/header.ejs') %>
<div class="login">
    <div>
        <a href="/"><img class="login__logo" src="img/logo-green.png" alt="Pet Family logo"></a> 
    </div>


    <main>
        <div class="login__container">
           <div class="login__box">
               <div class="login__text">
                    <h2>Welcome back!</h2>
                    <p>Already have an account? <a href="/login">Log in!</a></p>
               </div>

                <form action="/signup" method="post">
                    <% if (err.length != 0) { %>
                        <div class="error"><%= err  %></div>
                    <% } %>  
                    <div class="login__form">
                        <div class="login__name">
                            <div class="login__item " > 
                                <label for="name">First name</label> 
                                <input type="text" placeholder="Enter first name" name="firstname" id="firstname" required> 
                            </div>
                            <div class="login__item" > 
                                <label for="name">Last name</label> 
                                <input type="text" placeholder="Enter last name" name="lastname" id="lastname" required> 
                            </div>
                            
                            
                        </div>

                        <div class="login__item ">
                            <label for="email">Email address</label> 
                            <input type="text" placeholder="Enter email address" name="email" required> 
                        </div>
                        <div class="login__item flex">
                            <label class="forgot-password" for="password">Password<a  href="">Forgot password?</a></label>
                            <input type="password" placeholder="Enter Password" name="password" required> 
                        </div>
                        <div class="login__button">
                            <button class="button">Signup</button>  
                        </div>
                            
                        
                    </div>
                </form>
            </div> 
        </div>
    </main>
</div>