<%- include('partials/boilerplate.ejs') %>
<%- include('partials/loggedinnav.ejs') %>

<main class="petDashboard">
    <div class="petCard">
        <img src="https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/02/322868_1100-800x825.jpg" alt="">
        
    </div>
    <div class="petInfo"></div>
    <div class="petWeight"></div>
    <div class="petFood"></div>
    <div class="petGroom"></div>
</main>

<%- include('partials/footer.ejs') %>